@model IPagedList<Vehicle.MVC.Models.VehicleModelView>
@using PagedList;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Main.css">

<h2>Vehicle Models</h2>
<br />
<div>
    <div class="row-no-gutters">
        <div class="pull-left">
            <button type="button" class="btn btn-primary" onclick='window.location = "@Url.Action("Create", "VehicleModel")";'>Create</button>
        </div>
        @using (Html.BeginForm("Index", "VehicleModel"))
        {
            <div class="pull-right">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
            <div class="col-xs-3 pull-right">
                @Html.TextBox("search", null, new { @class = "form-control",  @placeholder="Searching by All"})
            </div>
        }
        <br />
    </div>
</div>
<br />
<br />
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.ActionLink("Make name", "Index", new { sort = ViewBag.make, search = ViewBag.search })
        </th>
        <th>
            @Html.ActionLink("Model name", "Index", new { sort = ViewBag.model, search = ViewBag.search })
        </th>
        <th>
            @Html.ActionLink("Abbreviation", "Index", new { sort = ViewBag.abrv, search = ViewBag.search })
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td width="30%">
                @Html.DisplayFor(modelItem => item.VehicleMake.Name)
            </td>
            <td width="40%">
                @Html.DisplayFor(modelItem => item.Name)
                <div class="btn-group pull-right" role="group">
                        <button type="button" class="btn btn-danger btn-xs"
                                onclick='window.location = "@Url.Action("Delete", "VehicleModel", new { ID = item.Id })";'>
                            Delete
                        </button>
                    <button type="button" class="btn btn-success btn-xs"
                            onclick='window.location = "@Url.Action("Edit", "VehicleModel", new { ID = item.Id })";'>
                        Edit
                    </button>
                </div>
            </td>
            <td width="30%">
                @Html.DisplayFor(modelItem => item.Abrv)
            </td>
        </tr>
    }
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, search = ViewBag.search, sort = ViewBag.sort, direction = ViewBag.direction }))
